<div class="jumbotron text-center">
  <h1>Set Torrent Magnet:</h1>
  <div class="row">
    <form name="torrent-select" ng-submit="submit()" ng-controller="MainController">
      <label>Magnet</label>
        <input type="text" name="input" ng-model="link"
      required ng-trim="true">
      <span ng-show="torrent-select.input.$error.pattern">
        Magnet links only!</span>
      <input type="submit" id="submit" value="Click to load" />
    </form>
  </div>
  <div class="row">
    <h3>Sample magnet</h3>
      <ul>
        <li><a href="http://www.imdb.com/title/tt0032553/">The Great Dictator</a>: magnet:?xt=urn:btih:cab643475b478d9fa447ca85b87fa83c3914a197</li>
      </ul>
    </div>
