<!--
<div class="jumbotron text-center">
	<h1>Torrent Info</h1>
        <ul class="table">
          <div class="tableHeader">
            <li class="tableRow">
              <span>Torrent name</span>
              <span>{{ torrentName }}</span>
            </li>
            <li class="tableRow">
              <span>Files</span>
              <span>
                <ul>
                  <li ng-repeat="file in files">
                    <span>{{file}}</span>
                  </li>
                </ul>
              </span>
            </li>
            <li class="tableRow">
              <span>Stream</span>
              <span><a href="{{link}}">{{link}}</a></span>
            </li>
            <li class="tableRow">
              <span>Swarm size</span>
              <span>{{sizeOf(peers)}} ( {{ countWires() }} )</span>
            </li>
            <li class="tableRow">
              <span>Download Speed</span>
              <span>{{speed}} B/s</span>
            </li>

          </div>
        </ul>

        <h1>The swarm</h1>
        <div d3-swarm></div>
        <ul class="table">
          <div class="tableHeader">
            <li class="tableRow">
              <span>Connected</span>
              <span>Address</span>
              <span>Download Speed</span>
              <span>Upload Speed</span>
              <span>City</span>
              <span>Lat, Long</span>
            </li>
          </div>
          <div class="tableBody">
            <li ng-repeat="(addr, peer) in peers" class="tableRow">
              <span>{{peer.handshaken}}</span>
              <span>{{peer.addr}}</span>
              <span>{{peer.downSpeed}} B/s down</span>
              <span>{{peer.upSpeed}}  B/s up</span>
              <span>{{peer.geodata.city}}, {{peer.geodata.region}} {{peer.geodata.country}}</span>
              <span>{{peer.geodata.ll}}</span>
            </li>
            <li ng-show="sizeOf(peers) == 0" class="tableRow">
              <span>No peers detected</span>
            </li>
          </div>
        </ul>
</div>
-->
<div class="jumbotron text-center">
  <div class="row">
    <h2>Torrent Info</h2>
    <table>
      <tr>
        <th>Torrent Name</th>
        <th>Files</th>
        <th>Stream</th>
        <th>Swarm Size</th>
        <th>Download Speed</th>
      </tr>
      <tr>
        <td>{{ torrentName }}</td>
        <td><span ng-repeat="file in files">{{file}}</span></td>
        <td><a href="{{link}}">{{link}}</a></td>
        <td>{{sizeof(peers)}} ( {{ countWires() }} )</td>
        <td>{{ speed }} B/s</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h2>The Swarm</h2>
    <div d3-swarm></div>   
  </div>
  <div class="row">
    <table>
      <tr>
        <th>Connected</th>
        <th>Address</th>
        <th>Download Speed</th>
        <th>Upload Speed</th>
        <th>City</th>
        <th>Lat, Long</th>
      </tr>
      <tr ng-repeat="(addr, peer) in peers">
        <td>{{peer.handshaken}}</td>
        <td>{{peer.addr}}</td>
        <td>{{peer.downSpeed}} B/s down</td>
        <td>{{peer.upSpeed}}  B/s up</td>
        <td>{{peer.geodata.city}}, {{peer.geodata.region}} {{peer.geodata.country}}</td>
        <td>{{peer.geodata.ll}}</td>
      </tr>
    </table>
  </div>
</div>
