<div class="jumbotron text-center">
  <div class="row" ng-if="!magnetLink">
    <h1>Go to the first page and load a magnet</h1>
  </div>
  <div class="row" ng-if="magnetLink && !torrentName">
    <h1>Please wait, torrent metadata is loading</h1>
  </div>
  <div ng-show="magnetLink" class="row">
    <h2>Torrent Info</h2>
    <table>
      <tr>
        <th>Torrent Name</th>
        <th>Files</th>
        <th>Swarm Size</th>
        <th>Peers</th>
        <th>Download Speed</th>
      </tr>
      <tr>
        <td>{{ torrentName }}</td>
        <td><ul><li ng-repeat="file in files">{{file}}</li></ul></td>
        <td>{{numQueued}}</td>
        <td>{{ size(peers) }} ({{size( filterConnected(peers) )}})</td>
        <td>{{ prettySpeed(speed) }}/s</td>
      </tr>
    </table>
  </div>
  <div ng-if="numQueued" class="row">
    <h2>The Swarm</h2>
       <div id="map" d3-swarm></div>
  </div>
  <div class="columns large-12 small-12" ng-if="showDetailPanel">
    <h3>Details</h3>
    <h4>Address: {{ selectedPeerAddr }}</h4>
    <h4>Location: 
      <span ng-show="peers[selectedPeerAddr].geodata.city">{{peers[selectedPeerAddr].geodata.city}}, </span>
      <span ng-show="peers[selectedPeerAddr].geodata.region">{{peers[selectedPeerAddr].geodata.region}}, </span>
      <span ng-show="peers[selectedPeerAddr].geodata.country">{{peers[selectedPeerAddr].geodata.country}}</span>
    </h4>
    <h4 ng-show="peers[selectedPeerAddr].id">Client: {{ peers[selectedPeerAddr].id.client }}</h4>
    <h4>Speed: {{ prettySpeed(peers[selectedPeerAddr].downSpeed) }}/s down, {{ prettySpeed(peers[selectedPeerAddr].upSpeed) }}/s up</h4>
    <h4>Max Speed: {{ prettySpeed(peers[selectedPeerAddr].maxDownSpeed) }}/s down, {{ prettySpeed(peers[selectedPeerAddr].maxUpSpeed) }}/s up</h4>
    <a ng-click="showDetailPanel=false">Hide</a>
  </div>
  <br />
  <br />
  <!-- <div class="row"> -->
  <!--   <table> -->
  <!--     <tr> -->
  <!--       <th>Connected</th> -->
  <!--       <th>Address</th> -->
  <!--       <th>Download Speed</th> -->
  <!--       <th>Upload Speed</th> -->
  <!--       <th>City</th> -->
  <!--       <th>Lat, Long</th> -->
  <!--     </tr> -->
  <!--     <tr ng-repeat="(addr, peer) in filterConnected(peers)"> -->
  <!--       <td>{{peer.handshaken}}</td> -->
  <!--       <td>{{peer.addr}}</td> -->
  <!--       <td>{{peer.downSpeed}}/s down</td> -->
  <!--       <td>{{peer.upSpeed}}/s up</td> -->
  <!--       <td>{{peer.geodata.city}}, {{peer.geodata.region}} {{peer.geodata.country}}</td> -->
  <!--       <td>{{peer.geodata.ll}}</td> -->
  <!--     </tr> -->
  <!--   </table> -->
  <!-- </div> -->
</div>
