<div class="jumbotron text-center">
  <div class="row">
    <h2>Torrent Info</h2>
    <table>
      <tr>
        <th>Torrent Name</th>
        <th>Files</th>
        <th>Swarm Size</th>
        <th>Download Speed</th>
      </tr>
      <tr>
        <td>{{ torrentName }}</td>
        <td><ul><li ng-repeat="file in files">{{file}}</li></ul></td>
        <td>{{numQueued}}</td>
        <td>{{ prettySpeed(speed) }}/s</td>
      </tr>
    </table>
  </div>
  <div class="row" align="center">
    <h2>Video Stream</h2>
    <p ng-if="numQueued == 0">Please wait while we get a connection</p>
    <p ng-if="numQueued">This is the stream: <a href="{{link}}">{{link}}</a></p>
    <video id="video" ng-show="numQueued" width="640" height="264" class="video-js vjs-default-skin" controls preload="auto"></video>
    </div>
  </div>
</div>
