body { padding-top:30px; }

canvas {
  top: 60px;
  height: 600px;
  width: 600px
  left: 0;
  right: 0;
  bottom: 0px;
  cursor: move;
}

.table {
  display: table;
  margin: 0px;
  padding: 0px;
}

.tableRow {
  display: table-row;
}

.tableRow > span {
  list-style:none;
  display: table-cell;
  border: 1px solid #000;
  padding: 2px 6px;
}

.tableHeader {
  display: table-header-group;
  /*position: absolute;*/
}

.tableHeader span {
  background-color: #ccc;
}

.tableBody {
  display: table-row-group;
}

.videoPlayer {
    width: 640px;
    height: 360px;
}
/*new semtantic styles */
.row {
  padding: 30px 0;
}
table {
  width: 100%;
}
table th {
  background-color: #fff;
  padding: 10px;
}
table td {
  padding: 10px;

}
table tr:nth-child(odd) {
  background-color: #d9d9d9;
}


